<!--BIENVENIDA Y CONTENIDO EN TEXTO-->
<div class="col-12 col-lg-12">
    <H1>BIENVENIDOS A DENTIS</H1>
    <p>
        Dentis es un centro odontológico dedicado a diversas especialidades, principalmente la realización de implantes, en donde gracias a nuestras instalaciones, equipadas con lo último en tecnología, podemos diagnosticar, prevenir y curar a nuestros pacientes de manera rápida, segura y profesional. Además de brindar la comodidad de encontrarnos en el corazón de la ciudad de San Salvador de Jujuy.
    </p>
</div>
<div class="col-12 col-lg-4" data-aos="zoom-in-up" data-aos-duration="3000">
    <img src="../assets/img/odonta.webp" alt="Odontologa">
</div>
<div class="col-12 col-lg-4" data-aos="zoom-in-up" data-aos-duration="3000">
    <img src="../assets/img/equipos-odonto2.jpg" alt="Equipos odontologicos">
</div>
<div class="col-12 col-lg-4" data-aos="zoom-in-up" data-aos-duration="3000">
    <img src="./assets/img/equipos-odonto.webp" alt="Equipos odontologicos">
</div>