<div class="col-6 col-lg-6 logo">
    <a href="./index.html">
        <img src="./assets/img/logo.png" alt="logo">
    </a>
</div>
<!-- CONTACTOS-->
<div class="col-6 col-lg-6 logo d-flex justify-content-end flex-row"><!--CAMBIOS PARA UBICAR BIEN LOS LOGOS DE REDES-->
    <div class="d-flex ">
        <li class="d-flex flex-column justify-content-center">Seguinos:</li>
        <a class="logo" href="#">
            <img src="./assets/img/facebook.png" alt="facebook">
        </a>
        <a href="#">
            <img src="./assets/img/whatsapp.png" alt="whatsapp">
        </a>
    </div>
</div>